{% load cart_tag %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'Home_App:home' %}">CROWN MALABIS</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'Order_App:cart' %}" class="nav-link">
              <i class="fa fa-shopping-cart"></i> Cart
              <span class="badge badge-light">{{ request.user | cart_total }}</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-tie"></i> {{request.user.profile.username}}</a>
          <div class="dropdown-menu" aria-labelledby="nabbarDropdown">
            <a class="dropdown-item" href="{% url 'Login_App:profile_details' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'Payment_App:orders' %}">Orders</a>
            <a class="dropdown-item" href="{% url 'Login_App:profile' %}">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'Login_App:logout' %}">Logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'Login_App:login' %}" class="btn btn-outline-secondary">Login</a>
          <a href="{% url 'Login_App:signup' %}" class="btn btn-secondary">SignUp</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>